<nav class="navbar nav-bar-default" >
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="" class="navbar-brand">Un Titulo</a>
        </div>
        <div class="navbar-default">
            <ul class="nav navbar-nav">
                <li><a href="#">Recetas</a></li>
                <li><a href="#">Ingredientes</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" role="button">Gestión <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Guardar</a></li>
                        <li><a href="#">Cargar</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>